{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

    <div class="jumbotron d-flex flex-column min-vh-100"">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            This time <b>Otown III Edition </b> brought to you by the club Empire is gonna be  Hotter than the last 2 editions.
            All models are required to pay a regisrtation fee of 500Ksh via  Mpesa to 0741590670 to faciltate the Event.
            Kindly do so to secure your slot.
        </p>

       

        

        
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}